*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
    font-style: oblique;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
    background-color:#333F72;
}
#main{
    border-radius: 20px;
    border: 1px solid white;
    height: 42em;
    width: 35em;
    background-color: #1B728C;
    flex-wrap: nowrap;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:60px 15px 40px;
    gap:20px;
}
#inputBox{
    background-color:  #1B728C;
    height: 60px;
    width: 18em;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid #333F72;
    color:white;
}

.fa-location-crosshairs{
    max-height: 45px;
    width: 45px;
    /* padding:2px; */
    font-size: 45px;
    cursor: pointer;
    background-color:  #1B728C;
}
.fa-location-crosshairs:hover{
    border: 1px solid paleturquoise;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
    font-size: 30px;
    color:white;
  
}
.a-cloud-sun{
    height: 130px;
    width: 130px;
}
.bottom{
    display: flex;
    justify-content: space-around;
    padding:30px 60px;
    font-size: 20px;

}
.left, .right{
    display: flex;
    font-size: 25px;
    color: #ffffff;
    padding:0 30px;
    gap:15px;
}
.last{
    display: flex;
    gap:10px;
    justify-content: space-around;
    color: #ffffff;
    transform: translateY(-20px);
}

